<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Проверка ОРМ</title>
</head>

<body>
    <h1>Проверка ОРМ</h1>
    <h3>
        {{ data }}
        <br>
        {{ stations }}
    </h3>
    <div>
        <h2> Операторы</h2>
        {{operators}}
        {% for operator in operators %}
            <h4>
                Оператор: {{ operator }} {% for station in operator.stations.all %} {{ station }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
            </h4>
        {% endfor %}
    </div>
    <div>
        {{rotation}}
        <h2> Ротация </h2>
        {% for station, operator in rotation.items %}
            <h4>
                Станция: {{ station }} - {{ operator}}
            </h4>
        {% endfor %}
    </div>
    <div>
        <h2> Работает</h2>
        {% for operator, stations in data.items %}
            <h4>
                Оператор: {{ operator }} Знает станции: {% for station in stations %} {{ station }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
            </h4>
        {% endfor %}
    </div>

</body>

</html>