<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Проверка ОРМ</title>
</head>

<body>
    <h1>Проверка ОРМ</h1>
    <h3>
        {{ data }}
    </h3>
    
    {% for name, list in data %}
        <h4>
            Значение: {{ name }}
                
        </h4>
    {% endfor %}
    
    <h2> Операторы</h2>
    {{operators}}
    {% for operator in operators %}
        <h4>
            Оператор: {{ operator }} {% for station in operator.stations.all %} {{ station }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
        </h4>
    {% endfor %}
    <h2> Станции</h2>
    {{station}}
    {% for station in stations %}
        <h4>
            Станция: {{ station }}
        </h4>
    {% endfor %}
    <h2> Работает</h2>
    {% for item in working %}
        <h4>
            Станция: {{ item.station }} Оператор: {{ item.operator }}
        </h4>
    {% endfor %}

</body>

</html>